@{
    ViewData["Title"] = "Home Page";

    Layout = "_Layout";

}
@using OMDbApiNet.Model;

@model dynamic
<!--movies---------------------------->
<div class="movies-heading">
    <h2>Movies</h2>
</div>
<section id="movies-list">
    @if (Model.Movies.Count > 0)
    {
        <!--box-1------------------------>
        @foreach (SearchItem c in Model.Movies)
        {
    <form asp-controller="Home"
               asp-action="Details" method="get">
        <input type="hidden" id ="IMDBID" name="IMDBID" value="@c.ImdbId" />
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="@c.Poster">
            </div>
            <!--text--------->
     
                @Html.DisplayFor(modelItem => c.Title)
                (@Html.DisplayFor(modelItem => c.Year))
            <button class="btn btn-primary" type="submit"> See Details</button>
        </div>
    </form>
        }
    }
    else
    {



        <div class="search-message-empty-container">
            <span class="search-message-empty-decal">
                <span class="search-message-empty-decal-eyes">:</span>
                <span>(</span>
            </span>
            <h2 class="search-message-empty-message">
                Nope, nothing.
            </h2>
        </div>



    }
</section>
<!--btns--------------->

