
@{
    ViewData["AdminTitle"] = "Movies";
    Layout = "_LayoutAdmin";
}
@model MovNotifier.Models.Country
<div class="wrapper" style="margin-top: 20px; ">

    <div class="row">
        <div style="padding: 30px;">
            <form asp-controller="Home" asp-action="UpdateCountry">

                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                        Task
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <div class="input-group">

                        <input class="form-control" id="name" name="Name" type="text" value="@Model.name" />

                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="hidden" name="Id" value="@Model.ID" />
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>